- if @question.errors.any?
  %ul
    - @questions.errors.full_messages.each do |message|
      %li= message
= form_for @question do |f|
  = f.label :title, "question title"
  = f.text_field :title
  %br/
  = f.label :description, "question description"
  = f.text_area :description


  %br/
  %ul.listing
    - 10.times do |x|
      %li= link_to "Create New Question", new_question_path
      %h2= "x"

  = f.submit "Save", class: "btn btn-primary"
  
  / # SAME AS ABOVE f.submit (@question.persisted? ? "Update" : "Save"), class: "btn btn-primary"
