<h1> Give me a question </h1>

<%= form_for @question do |f| %>
  <%= f.submit "Save", class: "btn btn-primary" %>



<% end %>

<%= form_for @question do |f| %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, class: "form-control" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <%= f.submit "Create Question", class: "btn btn-primary" %>

    <% end %>
