%h1= @question.title
%p= @question.description
%p= formatted_date(@question.created_at)
/ ^^ NOTE formatted_date is an applicatiion helper method
/ %p= @question.created_at.strftime("%Y-%b-%d")
/ WHICH REPLACED THIS ^^ LINE

%p

///Shows Categories of Question:
- if @question.categories.any?
  Categories (#{@question.categories.count}):
  = @question.categories.map(&:name).join(" ")
%br

/////New vote count system
%p

  - if @vote.persisted? && @vote.is_up?
    = button_to "Undo", [@question, @vote], method: :delete, class: "btn btn-primary"

  - else
    = form_for [@question, @vote] do |f|
      = f.hidden_field :is_up, value: true
      = f.submit "Vote Up", class: "btn btn-primary"
  %br
  = form_for [@question, @vote] do |f|
    = f.hidden_field :is_up, value: false
    = f.submit "Vote Down", class: "btn btn-primary"


////////////////////Old vote count system
/ Vote Count: #{@question.vote_count}

/ = @question.vote_count
/ %br/
/ - if session[:has_voted]
/   You voted already!
/ - else
/   = button_to "Vote Up", vote_up_question_path(@question)
/ %br/
///////////////////////

= link_to "Edit", edit_question_path(@question)
%br/
= button_to "Delete", @question, method: :delete, data: {confirm: "Are you sure you want to delete this question?"}
%br/
= link_to "All Questions", questions_path


%h2 Add An Answer
- if @answer.errors.any?
  %ul
    - @answer.errors.full_messages.each do |message|
      %li= message

/=# form_for [@question, @answer] do |f|
= form_for @answer, url: question_answers_path(@question) do |f|
  = f.text_area :body
  %br
  = f.submit "Submit an answer", class: "btn btn-primary"
%hr

/-# @question.answers.each do |answer|
/#   .well
/#   .row
/#     .col-smm-8.col-md-8.col-xs-8
/#       %p= answer.body
/#       %p Created on: #{formatted_date(answer.created_at)}
/#     .col-smm-8.col-md-8.col-xs-8
/#       .pull-right= button_to "Delete", question_answers_path(@question,@answer), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete the answer?"}
/ %hr

= render @answers
/-# ^^If rendering PARTIAL, above is even MORE Succinct than:
/-# @answers.each do |answer|
/-#  = render "/answers/answer", answer: answer


/ -#  /Which REPLACED NEED TO POST THE CODE BELOW HERE.  The below code is now found at _answer.html.haml
/     -# @question.answers.each do |answer|

-#  / .well
-#  /   .col-sm-8.col-md.8.col-xs-8
-#  /     %p= answer.body
-#  /     %p Created on #{formatted_date(answer.created_at)}
-#  /   .col-sm-8.col-md.8.col-xs-8
-#  /     .pull-right= button_to "Delete", question_answer_path(@question, answer), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this answer?"}
