%h2 Add An Answer
- if @answer.errors.any?
  %ul
    - @answer.errors.full_messages.each do |message|
      %li= message

/=# form_for [@question, @answer] do |f|
/=#INSERT AJAX HERE

= form_for [@question, @answer], remote: true do |f|
  = f.text_area :body
  
  /# Note "data: {disable_with: "saving"} is used user interface when waiting for a server to save
  = f.submit "Submit an answer", class: "btn btn-primary", data: {disable_with: "Saving..."}

/ OLD Form before AJAX was used:
/ =# form_for @answer, url: question_answers_path(@question) do |f|
/   =# f.text_area :body
/   %br
/   =# f.submit "Submit an answer", class: "btn btn-primary"
/ %hr

/-# @question.answers.each do |answer|
/#   .well
/#   .row
/#     .col-smm-8.col-md-8.col-xs-8
/#       %p= answer.body
/#       %p Created on: #{formatted_date(answer.created_at)}
/#     .col-smm-8.col-md-8.col-xs-8
/#       .pull-right= button_to "Delete", question_answers_path(@question,@answer), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete the answer?"}
/ %hr