

%br
%br
= form_tag "/", id: "personal-info" do
  = text_field_tag "First Name", "", placeholder: "First Name" 
  = text_field_tag "Last Name", "", placeholder: "Last Name" 
  = text_field_tag "Email", "", placeholder: "Email" 
  = submit_tag 'Submit'

#display

%br
%br
- (1..5).each do |x|
  = link_to "Exercise #{x}", "exercise#{1}", class: "btn btn-danger"

%br
%br
.button-container
  = link_to "Click Me", "javascript:void(0);", class: "btn btn-info .my-button", id: "1"
  = link_to "Click Me", "javascript:void(0);", class: "btn btn-info .my-button", id: "2"
  = link_to "Click Me", "javascript:void(0);", class: "btn btn-info .my-button", id: "3"


%br
%br

= label "task", "Type to add to the list!"
= text_field_tag "task"
%ul.tasks

%br
%br
= label "mirror", "Let me mirror that for you!"
= text_field_tag "mirror"
%span#result
%br
%br
